.login {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100vh;
  width: 100%;
  background-image: url("../img/login.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-right: 5%;
  height: 100%;
  width: 33.9%;
  background-color: hsla(0, 0%, 41%, 0.5);

  .title {
    font-size: 40px;
    color: #eee7e7;
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 20px;
    font-family: BluuNext;
    text-transform: uppercase;
  }

  form {
    margin-right: 60px;
  }

  div {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    width: 120%;
  }

  label {
    font-size: 20px;
    color: #ffff;
    font-family: sofia400;
  }

  input,
  select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    padding: 16px 21px;
    margin: 8px 0;
    border: 1px solid #696b78;
    border-radius: 3px;
    background: rgba(28, 30, 40, 0.5);
    line-height: 24px;
    color: #fff;
    -webkit-transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3ss ease-in-out;
    transition: border 0.3s ease-in-out;
    height: 50px !important;
  }

  select option {
    font-size: 20px;
    font-family: sofia400;
  }

  button {
    color: #fff;
    margin-top: 10px;
    border: 0px;
    background-color: #7a179b;
    font-size: 20px;
    border-radius: 100px;
    width: 120%;
    padding: 16px 21px;
    cursor: pointer;
    transition: 0.8s;
    font-family: sofia400;
    text-align: center;
  }

  button:hover {
    transition: 0.8s;
    background-color: #951abe;
  }
}

span {
  color: red;
  position: relative;
  top: -5px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.back{
  cursor: pointer;
  color:#232324;
  font-family: sofia400;
  text-decoration: underline;
  font-size: 20px;
  top: 3px;
  left: 15px;
  position: absolute;
}