@font-face{
  font-family: BluuNext;
  src: url('./fonts/BluuNext-Bold.woff2');
}

@font-face{
  font-family: sofia400;
  src: url('./fonts/sofia-pro/normal_normal_400.woff2');
}

@font-face{
  font-family: sofia800;
  src: url('./fonts/sofia-pro/normal_normal_800.woff2');
}


body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* You can add global styles to this file, and also import other style files */
